@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background-light: #f9fafb;
  --color-foreground-light: #1f2937;
  --color-background-dark: #111827;
  --color-foreground-dark: #f3f4f6;
  --color-select-bg: #1e293b;
  --color-select-border: #334155;
  --color-select-hover: #475569;
  --color-select-checked: #2563eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background-dark);
    --foreground: var(--color-foreground-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--color-background-light);
    --foreground: var(--color-foreground-light);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

select {
  background-color: var(--color-select-bg);
  color: white;
  border: 1px solid var(--color-select-border);
  padding: 8px;
  border-radius: 8px;
  font-size: 16px;
}

option {
  background-color: var(--color-select-bg);
  color: white;
}

option:checked {
  background-color: var(--color-select-checked);
  color: white;
}

option:hover {
  background-color: var(--color-select-hover);
}
